body {
    background-image: url('rtp2.jpg');
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 2px solid #000;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 2rem auto;
    width: 80%;
    max-width: 1200px;
}

main section {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e2e2e2;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}
